/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/yt_63274c27394c62738y3287.rss
/public/yt_dsfcj9834urj938j34f83j.rss
/public/yt_menu_823u4c8293u492jr1111.rss
